*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1.5px;
}

body{
    font-family: basic-sans, sans-serif;
    font-size: 1.125em;
    line-height: 1.6;
    color: #333;

    min-height: 100%;

    display: grid;
    /* grid: auto / 1em 1fr 1em; */ 
}

.header-img{
    position: relative;
    width: 100%;
    height: 600px; 
    background-image: url(Images/WP3.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.logo img{
    object-fit: contain;
    width: auto;
    height: 10vh;
    float: left;
    padding: 10px;
}

.menu nav{
    font-size: 1vw;
    float: right;
    padding: 10px;
    margin: 5px 10px;
}

.menu nav a{
    margin-left: 2vw;
    color: white;
}

.menu ul {
    list-style: none;
    margin: 8px;
}

.menu li {
    display: inline-block;
    padding: 0 20px;
}

.menu a {
    text-decoration: none;
    color: #333;
    text-transform: uppercase;
    front-size: 14px;
    font-weight: bold; 
}

.menu a:hover {
    text-decoration: underline; 
}

.intro{
    color: white;
    text-align: center;
    margin-top: 175px;
    font-size: 35px;
    line-height: 2em;
}

.intro h4{
    text-transform: uppercase;
}

.intro h2{
    color: rgb(175, 68, 68);
    text-transform: uppercase;
}

.intro h6{
    color: rgb(26, 8, 184);
}

.media ul {
    list-style: none;
    margin: 75px 210px;
    
}

.media li {
    display: inline-block;
    padding: 10px 20px;
}

.media a {
    text-decoration: none;
    color:rgb(214, 127, 26);
    text-transform: uppercase;
    front-size: 14px;
    font-weight: bold; 
}

.media a:hover {
    text-decoration: underline;
}

.btn{
    padding: 1rem 1rem;
    background: #006660;
    color: white;
    border: 1px solid transparent;
    border-radius: .25rem;
}
.btn-big{
    padding: .7rem 1.3rem;
    line-height: 1.3rem;
}

.btn:hover{
   color: white !important;
   background-attachment: #005255;
}

.text-input{
    padding: .7rem 1rem;
    display: block;
    width: 500px;
    border-radius: 5px;
    outline: none;
}

a,a:hover{
    text-decoration: none;
}

ul{
    list-style: none;
}


i{
    padding: 6px;  
    size: 100px;
}

/* main page styling */
main{
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 3em;
    letter-spacing: 2em;
}

main h4{
    font-size: 45px;
    color: black;
    margin-top: 100px;
    margin-left: 100px;
    padding: 5px;
}

.aboutMe p{
    font-size: 25px;
    text-align: justify;
    padding: 20px;
    margin-left: 80px;
    margin-right: 200px;
    text-indent: 50px;
}
.projects{
    margin-top: 100px;
}

.projects h4{
    font-size: 45px;
}
.projects .leftSide{
    width: 20%; 
    float: left; 
    margin-left: 125px;
    
}

.projects .leftSide ol{
    font-size: 25px;
    
}


.projects .rightSide{
    width: 60%;
    float: right;
    margin-bottom: 250px;
    margin-right: 200px;
}

.main .projects .rightSide h6{
    font-size: 30px;
    
}

.projects .rightSide p {
    font-size: 25px;
    margin-bottom: 50px;
}

.projects .rightSide ul{
    font-size: 25px;
}

/* footer section styling */
footer {
    background: #111;
    padding: 20px 23px;
    color: white;
    grid-column: 1 / -1;

    margin-top: auto;
}

/* .footer .media{
    float: right;
    padding-inline-end: 20px;
    margin-top: 650px;
    
} */

.footer .Contact h6{
    font-size: 50px;

}

/* .footer .media ul li{
    font-size: 25px;
    float: left;
    padding: auto;
    margin-left: 50px;
} */

.Contact  .contact-input{
    line-height: 1.5rem;
    font-size: 1.25em;
    padding: .7rem 1.2rem;
    margin-top: 15px;
    border: none;
    border-radius: 5px;

}

.Contact  .contact-input:focus{
    background: #1a1a1a;
}

.Contact btn {
    width: 150px;
    height: 50px;
    margin-top: 50px;
    margin-bottom: 75px;
    font-size: 1.25em;
    border-radius: 5px;
    background-color: #005255;
    transition: 2s;
}


footer span{
    font-size: 1em;
    text-align: center;
    margin: calc(100% - 65vw);
}

